* {
    padding: 0px;
    margin: 0px;
}
body{
    background: linear-gradient(to right bottom, #141414 50%, #202020 50%);
   
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.header {
    background: linear-gradient(to right bottom, #2c2c2c 50%, #363636 50%);
    min-height: 8vh;
    align-items: center;
    padding: 10px;
    color: white;
}

.loginform {
    background-color: rgb(255, 255, 255);
    margin-top: 10vh;
    padding: 20px;
}

.loginform label {
    font-weight: 600;
}

.loginform label::after {
    content: "*";
    color: red;
}


.head_text {
    background-color: #445566;
    color: white;
}

.b1 {
    background-color: rgb(6, 112, 173);
    color: white;
    min-height: 250px;
    align-items: center;
   
    padding: 10px;
}

.b2 {
    background-color: rgb(8, 141, 101);
    color: white;
    min-height: 250px;
    align-items: center;
    padding: 10px;
}

.b3 {
    background-color: #375f9b;
    color: white;
    min-height: 250px;
    align-items: center;
   
    padding: 10px;
}

.pie {
    background-color: #70286000;
    padding: 50px;
}

.header_profile {
    min-height: 50vh;
    writing-mode: vertical-rl;
    background: linear-gradient(to right bottom, #141414 50%, #202020 50%);
    align-items: center;
    color: white;
}

.header_profile h3 {
    font-size: 30px;
}

#latest_jobs {
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    border: 2px solid #ffffff
    
}

#latest_jobs p {
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    color: white;
}

#latest_jobs a {
    text-decoration: none;
    color: #ffffff;
    text-decoration: underline;
}


.header_right {
    background-color: #0e0e0e;
    color: white;
}

.job_detailsh {
    background-color: #1a1919;
    color: white;
}

.job_details {
    background-color: #353435;
    align-items: center;
    color: white;
    padding-top: 10px;
}

.right_side {
    background-color: white;
    padding: 50px;
}

#form-right {
    display: none;
}
#updateform , #updatepic{
    display: none;
}

@media only screen and (max-width: 700px) {
    body{
        height: auto;
    }
   .header_profile h3{
       font-size: 12px;
   }
  
  }

